.Hero{
    background-color: #d98c17 ;
    color: #4b2114;
    height:80vh;
    display: flex;
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    /* line-height: 1.1; */
}
.hero-left h1{
    color: #4b2114;
    font-weight: 700;
    font-size: 120px;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    
}
.hero-left p{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-top: 2px;
    
}
.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    object-fit: cover;
    width: 50%;
    size: 120rem; 
    right: 0;

    /* z-index: 20; */


}
.hero-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.hero-right{

}
.about{
    color: white;
}